*{
    font-family: sans-serif;
    font-weight: normal;
}
.main_heading{
    text-align: center;
}
.heading{
   
   font-size: 35px;
}

.init{
  width: 800px;
  padding-top: 20px;
  line-height: 7px;
}
.text{
  line-height: 37px;
  font-size: 20px;

}