*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:normal;
    color: #222635 !important;
}
.main_heading{
    text-align: center;
}
.list_element{
   
   font-size: 35px;
}

.snapshot_class{
  width: 800px;
  padding-top: 20px;
  line-height: 8px;
}
.text{
  line-height: 30px;
  font-size: 20px;

}
